<div class="card">
  For business inquiries, please use the email available at
  <a class="business" href="https://www.youtube.com/@aarthificial/about"
    >my YouTube contact page</a
  >. If you'd like to sent me a fan art, ask a question, or simply say hi, feel
  free to @ me on any of the social media listed below.
</div>

<style>
  .card {
    max-width: 496px;
    margin: 0 auto 96px;
  }
  .business {
    font-weight: bold;
    text-decoration: underline;
  }
</style>
