---
import LightModeIcon from '../icons/LightModeIcon';
import DarkModeIcon from '../icons/DarkModeIcon';
---

<button
  id="theme-toggle"
  type="button"
  title="Switch between dark and light mode"
>
  <DarkModeIcon className="theme-dark icon" />
  <LightModeIcon className="theme-light icon" />
</button>

<script>
  const media = window.matchMedia('(prefers-color-scheme: dark)');
  media.addEventListener('change', event => {
    document.documentElement.dataset.theme = event.matches ? 'dark' : 'light';
    localStorage.removeItem('theme');
  });
  document.getElementById('theme-toggle').addEventListener('click', () => {
    const theme =
      document.documentElement.dataset.theme === 'light' ? 'dark' : 'light';
    document.documentElement.dataset.theme = theme;
    localStorage.setItem('theme', theme);
  });
</script>

<style>
  #theme-toggle {
    position: fixed;
    top: 12px;
    right: 12px;
    backdrop-filter: blur(4px);
    padding: 12px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--backdrop-color);
    z-index: 1000;
  }

  html[data-theme='light'] .theme-dark {
    display: none;
  }
  html[data-theme='dark'] .theme-light {
    display: none;
  }
</style>
